/* 1. La importación de fuentes va PRIMERO que todo. */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Patrick+Hand&display=swap');

/* 2. Las directivas de Tailwind van después. */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 3. El resto de tus estilos personalizados van al final. */
:root {
  --color-papel: #FDFCF6;
  --color-lapiz: #4A4A4A;
  --color-sol-acento: #F39C12;
  --color-sol-acento-hover: #d8890b;
  --color-borde-suave: #EAEAEA;
  --color-blanco-puro: #FFFFFF;
  --color-estado-alto: #F39C12;
  --color-estado-neutral: #BDC3C7;
  --color-estado-bajo: #A9CCE3;
  --font-titulos: 'Patrick Hand', sans-serif;
  --font-cuerpo: 'Nunito', sans-serif;
}

/* CLAVE: Forzamos a que la estructura base no tenga scroll */

h2 {
  font-family: var(--font-titulos);
  font-weight: normal;
  font-size: 2.2rem;
  margin-top: 0;
  margin-bottom: 8px;
}
h3 {
  font-family: var(--font-titulos);
  font-weight: normal;
  font-size: 1.8rem;
  margin-top: 0;
  margin-bottom: 15px;
}

@layer utilities {
    .animate-spin-slow {
        animation: spin-slow 8s linear infinite;
    }
}
@keyframes spin-slow {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes shadow-pulse {
  50% {
    box-shadow: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  }
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
